*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:  border-box;
}

.to-do-list-app{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #0b0141, #360347);
    padding: 1rem;
}

.main-container{
    max-width: 66rem;
    min-height: 100vh;
    background: #fff;
    margin: 2rem auto 1.5rem;
    padding: 1.5rem 1rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 1rem;
    background-color: #fff;
    
}

.left-container{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254, 255, 255);
    border: 1px solid #0b0141;
    border-radius: 1rem;
    row-gap: 0.5rem;
}

.greetings-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    column-gap: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;



}

.avatar-container{
    width: 40px;
    height: 40px;
}
.avatar-container img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.name-and-greetings h2{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #0b0141;

}

.search-container{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.8rem;
    border-radius: 2rem;
    border: 1px solid #d3d0d0;
    
}



.icon-container-first{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.8rem;

}

.icon-container-first svg{
    width: 20px;
    height: 20px;
    color: #9e9c9c;
    cursor: pointer;
}

.icon-container-first p{
    color: #adabab;
    font-size: 0.8rem;
    font-weight: 600;
}



.task-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.8rem;
    row-gap: 0.5rem;

}

.icon-and-alert-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.8rem;
    background-color: #fff;
    column-gap: 1rem;

}

.icon-and-alert-container:hover{
    background-color: #1e0369;
    color: #fff;
}

.icon-container{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}



.icon-container svg{
    width: 20px;
    height: 20px;
}


.icon-container p {
    margin-left: 1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.alert-container{
    font-size: 0.8rem;
    color: #1e1e1e;
    background-color: #fff;
    border-radius: 5rem;
    padding: 0.3rem 0.5rem;
}

.alert-container:hover{
    background-color: #fff;
    color: #1e1e1e;
}



.task-container-2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.8rem;
    row-gap: 0.5rem;
    margin-top: 1rem;
    
}

.bottom-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 0.8rem;
    row-gap: 0.5rem;
    margin-top: 3rem;

}


.right-container{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    row-gap: 0.5rem; 
    padding: 1rem;
    border: 1px solid #1e0369;

}




.day-and-date-container{
    width: 100%;
    height: auto;
    padding-left: 1rem;
    margin-bottom: 2rem;
    
}

.day-and-date-container h2{
    font-size: 2rem;
    font-weight: 600;
    color: #0b0141;

}

.day-and-date-container p{
    font-size: 1rem;
    font-weight: 600;
    color: #1e1e1e;
}

.to-do-list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2rem;
    padding-left: 1.5rem;
    margin-bottom: 3rem;
}





input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    font-weight: 1rem;
}

button{
    border: none;
    outline: none;
    padding: 1rem 3.5rem;
    background: #1e0369;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2.5rem;

}



ul li{
    list-style: none;
    font-size: 1rem;
    padding: 1rem 0.5rem 1rem 3.5rem;
    user-select: none;
    cursor: pointer;
    position: relative;
    background-color: #eeecec;
    margin-bottom: 0.3rem;
    
}

ul li::before{
    content: '';
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 3.5rem;
    background-image: url(./images/unchecked\ icon.png);
    background-size: cover;
    background-position: center;
    top: 0.8rem;
    left: 0.5rem;
    margin-bottom: 5rem;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/CheckCircleOutline.png);
  
  
}

ul li span{
    position:  absolute;
    right: 0;
    top: 0.25rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
    color: #1e1e1e;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #1e0369;
    color: #fff;

}

.paragraph{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2rem;
}

.paragraph p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #002765;
}




